<div class="jumbotron">
    <h1 class="text-center">Welcome to the GameApp</h1>
    <p>These are their current favorite games</p>
    {{#each entries}}
        <div class='entries'>
            <p class="font-weight-bold">Game: {{title}}</p>
            <p>Genre: {{genre}}</p>
            <p>Date: {{date}}</p>
        </div>
        <br>
    {{else}}
    <p>They have no entries</p>
    {{/each}}
</div>